{% extends 'base.html' %}

{% block header %}
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-sm bg-light border-bottom justify-content-center">
            <div class="ms-5">
                <h3 class="text-secondary">{{ user.username }} {{page_name}}</h3>
            </div>
        </nav>
    {% endif %}
{% endblock %}

{% block content %}  
  <article class="ms-5 mt-1">
    {% if pages_list %}
    <div class="d-flex justify-content-center">
        {% if user.is_authenticated %}
        <ul class="bg-secondary bg-opacity-25 px-5 py-3">
            {% for page in pages_list %}                
                <li class="fs-4 py-2 text-capitalize"><a href="{% url page %}">{{ page }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h3>Please log in to access content.</h3>
        {% endif %}
    </div>    
    {% else %}
        <p>No Exchanges are available.</p>
    {% endif %}
</article>
{% if messages %}  
    <ul>   
        {% for message in messages %}  
            <li>{{ message }}</li>  
        {% endfor %}  
    </ul>   
{% endif %}
<div class="col-3">
    <form method="post">
        {% csrf_token %}
        <div class="d-flex justify-content-center form-control form-group bg-light mb-3">
            <div>
                <div class="form-control-lg" style="padding-bottom:1.5em;border-style:solid; border-width:1px ;border-color:lightgrey;">
                    {{date_form.errors}}
                    {{date_form}}
                </div>
                <div class="form-control-lg">                        
                    {{form.errors}}
                    {{form.as_p}}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn ps-4 pe-4 btn-primary opacity-75">Show EOD</button>
                </div> 
            </div>
        </div> 
    </form>
</div>
<div class="col-6">
    <h3>create chart here</h3>
</div>
<div class="col-3">
    <h3>select saved charts here</h3>
</div> 
{% endblock %}




